.u-section-1 .u-sheet-1 {
  min-height: 591px;
}

.u-section-1 .u-text-1 {
  margin: 55px 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 4px auto 60px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 420px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 300px;
  height: 300px;
  background-image: url("images/IMG_20160808_092140.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 420px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  margin: 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 517px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 346px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 346px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 436px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    width: 216px;
    height: 216px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 789px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 597px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 791px;
}

.u-section-2 .u-line-1 {
  width: 800px;
  height: 3px;
  border-style: dotted;
  transform-origin: center top;
  margin: 45px auto 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 12px 393px 0 81px;
}

.u-section-2 .u-list-1 {
  width: 804px;
  min-height: 564px;
  grid-auto-rows: 100%;
  height: auto;
  margin: 41px 132px 60px auto;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  grid-auto-rows: calc(50% - 5px);
  grid-gap: 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px;
}

.u-section-2 .u-icon-1 {
  height: 48px;
  width: 48px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.375rem;
  font-weight: 400;
  margin: -42px -11px 0 60px;
}

.u-section-2 .u-text-3 {
  font-size: 0.9375rem;
  margin: 24px 0 0;
}

.u-section-2 .u-text-4 {
  line-height: 1.2;
  font-size: 0.75rem;
  font-style: italic;
  margin: 10px auto 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px;
}

.u-section-2 .u-icon-2 {
  height: 48px;
  width: 48px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.375rem;
  font-weight: 400;
  margin: -42px -11px 0 60px;
}

.u-section-2 .u-text-6 {
  font-size: 0.9375rem;
  margin: 24px 0 0;
}

.u-section-2 .u-text-7 {
  line-height: 1.2;
  font-size: 0.75rem;
  font-style: italic;
  margin: 10px auto 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px;
}

.u-section-2 .u-icon-3 {
  height: 48px;
  width: 48px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-8 {
  font-size: 1.375rem;
  font-weight: 400;
  margin: -42px -11px 0 60px;
}

.u-section-2 .u-text-9 {
  font-size: 0.9375rem;
  margin: 24px 0 0;
}

.u-section-2 .u-text-10 {
  line-height: 1.2;
  font-size: 0.75rem;
  font-style: italic;
  margin: 10px auto 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px;
}

.u-section-2 .u-icon-4 {
  height: 48px;
  width: 48px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-11 {
  font-size: 1.375rem;
  font-weight: 400;
  margin: -42px -11px 0 60px;
}

.u-section-2 .u-text-12 {
  font-size: 0.9375rem;
  margin: 24px 0 0;
}

.u-section-2 .u-text-13 {
  line-height: 1.2;
  font-size: 0.75rem;
  font-style: italic;
  margin: 10px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 274px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-line-1 {
    width: 720px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 54px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    grid-auto-rows: calc(33.33% - 6.666666666666667px);
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 67px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
    margin-left: 67px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
    margin-left: 67px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 0;
    margin-left: 67px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-line-1 {
    width: 540px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: repeat(1, 100%);
    grid-auto-rows: calc(16.66% - 8.333333333333334px);
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 68px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-left: 68px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-left: 68px;
  }

  .u-section-2 .u-text-11 {
    width: auto;
    margin-left: 68px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-line-1 {
    width: 340px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -38px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 10px;
  }

  .u-section-2 .u-text-5 {
    font-size: 2.25rem;
    margin-top: -38px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 10px;
  }

  .u-section-2 .u-text-8 {
    font-size: 2.25rem;
    margin-top: -38px;
  }

  .u-section-2 .u-text-9 {
    margin-top: 10px;
  }

  .u-section-2 .u-text-11 {
    font-size: 2.25rem;
    margin-top: -38px;
  }

  .u-section-2 .u-text-12 {
    margin-top: 10px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 897px;
}

.u-section-3 .u-text-1 {
  margin: 11px 0 0;
}

.u-section-3 .u-list-1 {
  min-height: 777px;
  height: auto;
  width: 570px;
  margin: 11px auto 60px 0;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  grid-auto-rows: calc(33.33% - 6.66667px);
  grid-gap: 10px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -64px 0 0 94px;
}

.u-section-3 .u-text-3 {
  margin: 30px 0 0 94px;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 30px auto 0 94px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -64px 0 0 94px;
}

.u-section-3 .u-text-5 {
  margin: 30px 0 0 94px;
}

.u-section-3 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 30px auto 0 94px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  height: 64px;
  width: 64px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -64px 0 0 94px;
}

.u-section-3 .u-text-7 {
  margin: 30px 0 0 94px;
}

.u-section-3 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 30px auto 0 94px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    min-height: 988px;
    width: 470px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-rows: calc(33.33% - 6.666666666666667px);
  }

  .u-section-3 .u-text-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-3 .u-text-6 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-text-7 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-btn-3 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-list-1 {
    min-height: 641px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    min-height: 976px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-list-1 {
    min-height: 464px;
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 500px;
}.u-section-5 .u-sheet-1 {
  min-height: 1024px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 7px auto 0;
}

.u-section-5 .u-list-1 {
  width: 622px;
  min-height: 459px;
  grid-template-rows: repeat(3, auto);
  height: auto;
  grid-auto-rows: 100%;
  margin: 38px auto 50px;
}

.u-section-5 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  grid-auto-rows: calc(33.33% - 6.66667px);
  grid-gap: 10px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-icon-1 {
  height: 64px;
  width: 64px;
  color: rgb(31, 32, 58) !important;
  margin: 0 20px;
}

.u-section-5 .u-text-2 {
  margin: -64px 0 0 115px;
}

.u-section-5 .u-text-3 {
  margin-left: 115px;
  margin-right: 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 20px;
}

.u-section-5 .u-text-4 {
  margin: -64px 0 0 115px;
}

.u-section-5 .u-text-5 {
  margin-left: 115px;
  margin-right: 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 20px;
}

.u-section-5 .u-text-6 {
  margin: -64px 0 0 115px;
}

.u-section-5 .u-text-7 {
  margin-left: 115px;
  margin-right: 0;
}

@media (max-width: 767px) {
  .u-section-5 .u-list-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 73px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 73px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-7 {
    margin-left: 73px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-list-1 {
    width: 340px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
  }

  .u-section-5 .u-text-5 {
    margin-left: 0;
  }

  .u-section-5 .u-text-7 {
    margin-left: 0;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 1268px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 60px 113px 0;
}

.u-section-6 .u-accordion-1 {
  width: 800px;
  margin: 35px auto 0;
}

.u-section-6 .u-accordion-link-1 {
  background-image: none;
  text-transform: uppercase;
  padding: 20px 30px;
}

.u-section-6 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-6 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0;
}

.u-section-6 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-6 .u-accordion-link-2 {
  background-image: none;
  text-transform: uppercase;
  padding: 20px 30px;
}

.u-section-6 .u-icon-2 {
  height: 20px;
  width: 20px;
}

.u-section-6 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-4 {
  line-height: 1.8;
  margin: 0;
}

.u-section-6 .u-accordion-link-3 {
  background-image: none;
  text-transform: uppercase;
  padding: 20px 30px;
}

.u-section-6 .u-icon-3 {
  height: 20px;
  width: 20px;
}

.u-section-6 .u-accordion-pane-3 {
  min-height: 150px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-text-5 {
  margin: 0;
}

.u-section-6 .u-list-1 {
  min-height: 428px;
  margin-top: 50px;
  margin-bottom: 30px;
  height: auto;
}

.u-section-6 .u-repeater-1 {
  grid-auto-columns: 50%;
  grid-template-columns: repeat(2, 50%);
  grid-auto-rows: 50%;
  grid-gap: 0px;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-text-6 {
  margin: 20px 196px 0 0;
}

.u-section-6 .u-text-7 {
  margin: -46px 0 0 280px;
}

.u-section-6 .u-icon-5 {
  color: rgb(17, 17, 17) !important;
  width: 16px;
  height: 22px;
}

.u-section-6 .u-icon-6 {
  color: rgb(17, 17, 17) !important;
}

.u-section-6 .u-icon-7 {
  color: rgb(17, 17, 17) !important;
}

.u-section-6 .u-icon-8 {
  color: rgb(17, 17, 17) !important;
  width: 16px;
  height: 22px;
}

.u-section-6 .u-icon-9 {
  color: rgb(17, 17, 17) !important;
  margin-top: 0;
}

.u-section-6 .u-container-layout-5 {
  padding: 30px;
}

.u-section-6 .u-container-layout-6 {
  padding: 30px;
}

.u-section-6 .u-container-layout-7 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-right: 13px;
    margin-left: 13px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-rows: 100%;
  }

  .u-section-6 .u-text-6 {
    margin-right: 0;
  }

  .u-section-6 .u-text-7 {
    margin-left: 80px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-accordion-1 {
    width: 720px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }

  .u-section-6 .u-text-7 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-accordion-1 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-accordion-1 {
    width: 340px;
  }
}