.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/20200912_132233.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  width: 745px;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  width: 837px;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 29px;
    margin-right: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 18px;
    margin-right: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.75rem;
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 23px;
    margin-right: 23px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 713px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 60px auto 60px 50px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 559px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-shape-1 {
  width: 450px;
  height: 450px;
  min-height: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: initial;
  margin-left: auto;
  background-image: none;
}

.u-section-2 .u-image-1 {
  width: 450px;
  height: 452px;
  margin: -391px auto 0 48px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 559px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-2 .u-text-1 {
  margin: 60px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 27px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 561px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 472px;
  }

  .u-section-2 .u-shape-1 {
    width: 412px;
    height: 412px;
  }

  .u-section-2 .u-image-1 {
    width: 412px;
    height: 412px;
    margin-top: -353px;
    margin-left: 20px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 472px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 464px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 375px;
  }

  .u-section-2 .u-shape-1 {
    width: 316px;
    height: 316px;
  }

  .u-section-2 .u-image-1 {
    width: 316px;
    height: 316px;
    margin-top: -257px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 375px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: auto;
  }

  .u-section-2 .u-shape-1 {
    width: 296px;
    height: 302px;
    margin-right: 96px;
    margin-bottom: 0;
  }

  .u-section-2 .u-image-1 {
    width: 296px;
    height: 306px;
    margin-top: -253px;
    margin-left: 111px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-shape-1 {
    width: 280px;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    width: 280px;
    height: 295px;
    margin-top: -242px;
    margin-left: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 434px;
}

.u-section-3 .u-line-1 {
  width: 800px;
  height: 2px;
  margin: 4px auto 0;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 5px auto 0 80px;
}

.u-section-3 .u-list-1 {
  width: 692px;
  min-height: 210px;
  grid-auto-rows: 100%;
  height: auto;
  margin: 12px auto 60px;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: repeat(2, calc(50% - 5px));
  grid-auto-rows: 100%;
  grid-gap: 10px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  color: rgb(17, 17, 17) !important;
  margin: 0 auto;
}

.u-section-3 .u-btn-1 {
  font-size: 1.875rem;
  border-style: none;
  margin: 20px auto 0;
  padding: 5px 20px;
}

.u-section-3 .u-line-2 {
  width: 80px;
  height: 3px;
  margin: 5px auto 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  height: 64px;
  width: 64px;
  color: rgb(17, 17, 17) !important;
  margin: 0 auto;
}

.u-section-3 .u-btn-2 {
  font-size: 1.875rem;
  border-style: none;
  margin: 20px auto 0;
  padding: 5px 20px;
}

.u-section-3 .u-line-3 {
  width: 80px;
  height: 3px;
  margin: 5px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(33.3333% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-line-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
    grid-auto-rows: calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-line-1 {
    width: 540px;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-line-1 {
    width: 340px;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: repeat(1, 100%);
  }
}.u-section-4 {
  background-image: url("images/20200909_205709.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 616px;
}

.u-section-4 .u-text-1 {
  font-weight: 900;
  font-size: 3.75rem;
  text-transform: none;
  margin: 292px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-4 {
    background-position: 100% 51.64%;
    background-size: 125%;
  }
}

@media (max-width: 767px) {
  .u-section-4 {
    background-position: 36.76% 0.23%;
    background-size: auto 115%;
  }
}

@media (max-width: 575px) {
  .u-section-4 {
    background-size: 150%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 373px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 118px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 680px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 237px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  margin: 0;
}

.u-section-5 .u-map-1 {
  width: 311px;
  height: 143px;
  margin: 14px auto 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 139px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-5 .u-text-2 {
  text-transform: none;
  margin: -27px 0 0;
}

.u-section-5 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 292px;
  min-width: 196px;
  animation-duration: 1000ms;
  margin: 21px auto 0 0;
}

.u-section-5 .u-icon-1 {
  height: 100%;
}

.u-section-5 .u-icon-2 {
  height: 100%;
}

.u-section-5 .u-icon-3 {
  height: 100%;
}

.u-section-5 .u-icon-4 {
  height: 100%;
}

.u-section-5 .u-icon-5 {
  height: 100%;
}

.u-section-5 .u-icon-6 {
  height: 100%;
  color: rgb(64, 64, 64) !important;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 73px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 40px 0;
}

.u-section-5 .u-text-3 {
  text-transform: none;
  margin: 0;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 303px;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px 30px 0;
}

.u-section-5 .u-form-1 {
  height: 299px;
  width: 510px;
  margin: -30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 324px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 195px;
  }

  .u-section-5 .u-text-1 {
    font-weight: 400;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 115px;
  }

  .u-section-5 .u-icon-1 {
    color: rgb(17, 17, 17) !important;
  }

  .u-section-5 .u-icon-2 {
    color: rgb(17, 17, 17) !important;
  }

  .u-section-5 .u-icon-3 {
    color: rgb(17, 17, 17) !important;
  }

  .u-section-5 .u-icon-4 {
    color: rgb(17, 17, 17) !important;
  }

  .u-section-5 .u-icon-5 {
    color: rgb(0, 122, 185) !important;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 61px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 249px;
  }

  .u-section-5 .u-form-1 {
    width: 410px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 227px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 15px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 110px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 63px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 9px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 63px;
  }

  .u-section-5 .u-form-1 {
    width: 320px;
  }
}